.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-section {
    width: 33%;
    text-align: center;
}

.links-section {
     width: 33%;
     text-align: center;
 }

.button-section {
    width: 33%;
    text-align: center;
}

.logo-image {
    width: 100px;
}