.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-section {
    width: 33%;
    text-align: center;
}

.links-section {
     width: 33%;
     text-align: center;
 }
.links-section ul li {
    display: inline;
    font-size: 14pt;
    color: white;
    padding: 5px;
}

.button-section {
    width: 33%;
    text-align: center;
}

.logo-image {
    width: 150px;
}